blinker==1.8.2
cffi==1.16.0
click==8.1.7
colorama==0.4.6
cryptography==42.0.7
Flask==3.0.3
gevent==24.2.1
greenlet==3.0.3
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
pip==24.0
prometheus-client
pycparser==2.22
setuptools==69.5.1
werkzeug
wheel==0.43.0
zope.event==5.0
pandas